body {
    /*background:#fff !important;*/
	background: #f0f0f0;
    padding-left:12px;
}

a {
  color:#1555a0 !important
}

a:hover {
  color: #FF8700 !important
}
a.activ {font-weight:bold;}
a img {border:none;}

h1,h2,h3,.mm_forum-buttons {
  /*padding:2px 0 2px 2px;
  background:#ff8700 !important;
  color:#fff !important;*/
 
	background-image: url('../bg.png');
	background-position-y: bottom;
	background-repeat: repeat-x;
	background-position: bottom;
	color: #1555A0 !important;
	border-bottom: 1px solid #1555a0;
}

form {width:733px !important}

label {
  float:left;
  width:90px;
}

.mm_forum-formrow {
	height: 20px;
	clear: both;
}

.mm_forum-list {
 	border-bottom: 1px solid #1555a0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
 	margin: 6px 0px;
	background-color: #fff;
}

div.mm_forum-listrow {
	height: 2em;
	clear: both;
}
div.mm_forum-listrow2 {
	height: 2em;
	background-color: #f1f2f2;
	clear: both;
}
div.mm_forum-listrow_active {
	height: 2em;
	background-color: #dedede;
	font-weight: bold;
    color:#ffffff;
	clear: both;
}
div.mm_forum-listrow_header {
 	height: 20px;
	background-color: #1555a0;
	font-weight: bold;
	clear: both;
}

tr.mm_forum-listrow { 
	clear: both;
}
tr.mm_forum-listrow2 {
	background-color: #f1f2f2;
	clear: both;
}
tr.mm_forum-listrow_active {
	background-color: #dedede;
	font-weight: bold;
    color:#1555a0;
	clear: both;
}
tr.mm_forum-listrow_active td {
	font-weight: bold;
    color:#1555a0;
	clear: both;
}

tr.mm_forum-listrow td, tr.mm_forum-listrow_active td {
	padding: 6px;
}



td.mm_forum-listrow_header {
 	height: 20px;
	background-color: #fff;
	background-image: url('../bg.png');
	background-position-y: bottom;
	background-repeat: repeat-x;
	color: #1555A0 !important;
	border-bottom: 1px solid #1555a0;
	font-size: 12px;
	font-weight: bold;
}

td.mm_forum-listrow_label {
	color: #1555a0 !important;
	border-bottom: 1px solid #1555a0;
	background-color: #fff;
	font-size: 8pt;
	font-weight: bold;
}

.mm_forum-listrow-edit {
 	float: left;
 	width: 30px;
 	padding: 2px;
}

.mm_forum-listrow-name {
 	float: left;
 	padding: 2px;
}

.mm_forum-listrow-posts {
 	float: right;
 	width: 100px;
 	padding: 2px;
}

.mm_forum-listrow-age {
 	float: left;
 	width: 30%;
 	padding: 2px;
}
.mm_forum-listrow-username {
 	float: left;
 	width: 30%;
 	padding: 2px;
}
.mm_forum-listrow-groups {
 	float: left;
 	width: 30%;
 	padding: 2px;
}

.mm_forum-listrowheader-age {
 	float: left;
 	width: 30%;
 	padding: 2px;
 	color: #ffffff;
}
.mm_forum-listrowheader-username {
 	float: left;
 	width: 30%;
 	padding: 2px;
 	color: #ffffff;
}
.mm_forum-listrowheader-groups {
 	float: left;
 	width: 30%;
 	padding: 2px;
 	color: #ffffff;
}

.mm_forum-listrow_active .mm_forum-listrow-name,
.mm_forum-listrow_active .mm_forum-listrow-edit,
.mm_forum-listrow_active .mm_forum-listrow-posts,
.mm_forum-listrow_active .mm_forum-listrow-age,
.mm_forum-listrow_active .mm_forum-listrow-username,
.mm_forum-listrow_active .mm_forum-listrow-groups {
	color: #1555a0;
}

tr.newdata {
    background:#ffdfdf;
}

tr.hidden {
    background:#e1ffff;     
}

fieldset {
	border: 1px solid #1555a0;
	background-color: #f8f9f9;
	padding: 8px;
	padding-top: 16px;
}

legend {
 	background-color: #f1f2f2;
 	border: 1px solid #1555a0;
 	color: #1555a0;
 	padding: 2px 4px;
 	font-weight: bold;
}

input[type="image"], input[type="image"]:hover {
	border: 0px;
}

.mm_forum-fatalerror {
 	color: #ff0000;
 	font-weight: bold;
}

.mm_forum-warning {
 	color: #808000;;
 	font-weight: bold;
}

.mm_forum-ok {
 	color: #008000;
 	font-weight: bold;
}

optgroup {
	font-family: Verdana;
	font-style: normal;
	font-weight: bold;
}

option {
	font-family: Verdana;
}

table.mm_forum-brtable, table.mm_forum-brtable tr, table.mm_forum-brtable td {
    border: 1px solid #1555a0;
    border-collapse: collapse;
}

.mm_forum-button {
	float:left;
	padding-right: 8px;
}

.mm_forum-button-hover {
	float:left;
	background-color: #1555a0;
	background-image: none;
	color: #fff !important;
	cursor: pointer;
	padding-right: 8px;
}

.mm_forum-button img, .mm_forum-button-hover img {
	vertical-align: middle;
	margin-right: 8px;
}
